cluster/**

install/4.12/**
install/4.13/**
install/4.14/**
install/4.15/**
install/4.16/**
install/4.17/**
install/**/*.tar.gz
install/**/openshift-install
install/**/*.iso
install/**/.openshift_install.log
install/**/.openshift_install_state.json

# mirror
mirror/**/pull-secrets/*
mirror/**/publish
mirror/**/oc-mirror-workspace
mirror/**/mirror_seq?_*.tar
mirror/**/.oc-mirror.log

mirror/metadata/**
mirror/platform/ocp/**
mirror/operators/redhat/**
mirror/operators/community/**
mirror/operators/certified/**
