cluster/**

install/4.12/**
install/**/*.tar.gz
install/**/openshift-install
install/**/*.iso
install/**/.openshift_install.log
install/**/.openshift_install_state.json

# mirror
mirror/**/pull-secrets/*
mirror/**/publish
mirror/**/oc-mirror-workspace
mirror/**/mirror_seq?_*.tar
mirror/**/.oc-mirror.log
