.oc-mirror.log
*.iso
*.tar.gz
.openshift_install.log
.openshift_install_state.json

cluster/hub

install/4.12/*.tar.gz
install/4.12/openshift-install
install/4.12/*

mirror/helpers/pull-secrets/*.json
mirror/helpers/pull-secrets/*.txt
mirror/metadata/operators/redhat/publish
mirror/metadata/operators/certified/publish
mirror/metadata/platform/openshift/publish
mirror/operators/redhat
mirror/operators/certified
mirror/platform/openshift

