apiVersion: v1
baseDomain: example.com 
compute: 
- architecture: amd64
  name: worker
  replicas: 0 
  hyperthreading: Enabled
controlPlane: 
  architecture: amd64
  name: master
  replicas: 1 
  hyperthreading: Enabled
metadata:
  name: example 
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14 
    hostPrefix: 23 
  machineNetwork:
  - cidr: 192.168.4.0/24
  networkType: OVNKubernetes 
  serviceNetwork: 
  - 172.30.0.0/16
platform:
  none: {} 
fips: true 
pullSecret: '{"auths":{"registry.example.com":{"auth":"","email":"username@example.com"}}}' 
sshKey: 'ssh-rsa ... username@host' 


